extends layout
block content

  include ./componentes/tarjeta-pelicula
  
  -var loading = loading 
  
  if loading
    .loading.row
      .col-12
        h1 Cargando ...
  else
    section.terjetas-de-peliculas#peliculas-tarjetas
      .row.mb-3
        +tarjetaPelicula(peliculas)

    .contenido.row
      .col
        h1 Bienvenidos a DescargasXTech
