body {
  background-color: #eeebdd;/*#1a1c20*/;

  .contenido {
    background-color: $light;
    border-radius: 10px;
  }
}

.text-rojo {
  color: $rojo-100;
}

.br-1 {
  border-radius: 10px;
}

.br-2 {
  border-radius: 20px;
}

.hidden {
  display: none;
}

.bg-custom-100 {
  background-color: $rojo-100;
}

.bg-custom-50 {
  background-color: $rojo-50;
}

.btn-danger {
    color: #fff;
    background-color: $rojo-50;
    border-color: $rojo-100;
}

.btn-danger:hover {
    color: #fff;
    background-color: $rojo-100;
    border-color:$rojo-100;
}
