body {
  background-color: #1b1717;/*#1a1c20*/;

  .contenido {
    background-color: $light;
    border-radius: 10px;
  }
}

.br-1 {
  border-radius: 10px;
}

.br-2 {
  border-radius: 20px;
}

.hidden {
  display: none;
}
