// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

// Paleta de colores
$light: #f8f9fa;
$warning: #ff7518;
$gray: #e9ecef;
$black: #1a1c20;
$rojo-50: #ce1212;
$rojo-100: #810000;

// Grosor de letras
$slim: 300;
$normal: 400;
$bold: 700;
$black: 900;
