mixin tarjetaPelicula(peliculas)
  each pelicula in peliculas
    .col-3.mb-2
      .card
        .card-body
          img.w-100(src=`${pelicula.imagenUrl}` alt="")
        .card-footer.hidden
          .card-title.text-rojo= pelicula.titulo 
          p #{pelicula.cortaDescripcion.slice(0, 200)} ... 
          .bottom
            span.etiqueta.text-rojo
              i.icofont.icofont-folder.mr-1
              | #{pelicula.fichaTecnica.genero[0]}
            a.btn.btn-danger.btn-block.mt-1.br-2(href="#") 
              | Leer más
              i.icofont.icofont-rounded-double-right.ml-1.icofont-1x
          
          
      
