.agregar-archivos {
  background-color: $light;
  border-radius: $b-normal;
  padding: 30px;

  form {

    .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: $rojo-50 !important;
      outline: 0;
      box-shadow: 0 0 0 0.2rem $bs-color !important;
    }

    .form-group.btn {
      padding: 10px;
    }

  }

}
