.terjetas-de-peliculas {

  .card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .card-body {
      padding: .4rem;
    }

    .card-footer {
      position: absolute;
      background-color: rgba(248, 249, 250, 0.72);
      border-top: none;
      height: 100%;

      // display: flex;
      flex-direction: column;
      justify-content: space-around;

      .card-title, .etiqueta {
        font-weight: $bold;
      }

      .card-title {
        font-size: 1rem;
      }
    }
  }
}
